<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>M07 Guestbook</title>

<!-- <link rel="stylesheet" href="GuesBook.css"> -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link href="Guesbook.css" type="text/css"rel="stylesheets">
<link rel="stylesheet" href="snohi.css">


