<% include header %>

</head>
<body>

<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/logic">Logic</a></li>
    <li><a href="/contact">Contact</a></li>
    <li><a href="/guestbook">Guestbbok</a></li>
    

</ul>
<h1>
    Express Guestbook
    <a href="/new-entry" class="btn btn-primary pull-right">
    Write in the guestbook
    </a>
    </h1>
<% if (entries.length) { %>
<% entries.forEach(function(entry) { %>
<div class="panel panel-default">
<div class="panel-heading">
<div class="text-muted pull-right">
<%= entry.published %></div>
<%= entry.title %></div>
<%console.log(entry)%>
<div class="panel-body">
<%= entry.content %>
</div>
</div>
<% }) %>
<% } else { %>
No entries! <a href="/new-entry">Add one!</a>
<% } %>
<% include footer %>
