f
{
  background-color: rgb(192, 255, 211);
  color: red;
  
  
  text-align: center;
  margin-bottom:20px;
  
}
.img-circle{
    border-radius:180%;
    padding:0px;
    float:right;
}

.sam
{
  background-color: #80d687;
  color: black;
  text-align: left;
  margin-bottom :20px;
  height:70%;
  width:50%;
  float:left;
}
ul {
    list-style-type: none;
    margin: 0;
    padding:0;
    overflow: hidden;
    background-color: black;
}
li{
    display: inline;
    float: left;
    tab-size: 20;
}

li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
}


li a:hover {
    background-color: #555;
    color: rgb(209, 18, 18);
}



.section-header
{
  
  color: green;
 
}
.aside-header
{
  
  color: Green;
  
 
  margin-bottom:30px;
}
.dad
{
	float:right;
  background-color:#fefbd8;
   height:70%;
  width:50%;
}
footer
{
  float: left;
  background-color: #80ced6;
  color: black;
  height:10%;
  text-align: center;
  width:100%;
}

#future-section{
	color:rgb(85, 5, 5);
}
#past-section{
color:black;
}
.bg{
    float: right;
    background-image: url("p.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}
nput[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  @media (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
    .fa {
        padding: 200px;
        font-size: 400px;
        width: 500px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
    }
  }